<h1 class="page-header">Storage</h1>
<%= form_for @datafile do |f| %>
  <div class="form-group" >
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group" >
    <%= f.file_field :datafile %>
  </div>
  <%= f.submit "Send" %>
<% end %>

<br>

<h1 class="page-header">Storing Data</h1>
<% if @datafiles.exists? %>
  <% @datafiles.each do |data| %>
    <div class="row">
      <div class="dashboard-box col-md-2">
        <p class="text-left"><%= data.name %></p>
        <p class="text-right"><%= link_to "Show", datafile_path(data) %></p>
      </div>
    </div>
  <% end %>
<% end %>
