<h1 class="page-header">Storage</h1>
<%= form_for @datafile do |f| %>
  <div class="form-group" >
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group" >
    <%= f.file_field :datafile %>
  </div>
  <%= f.submit "Send" %>
<% end %>

<br>

<h1 class="page-header">Storing Data</h1>
<% if @datafiles.exists? %>
  <% @datafiles.reverse_each do |datafile| %>
    <div class="row">
      <div class="datafile-box col-md-3">
        <p class="text-left"><%= datafile.name %></p>
        <% if datafile.reading %>
          <div id="reading-<%= datafile.id %>">
            <%= image_tag 'icons/ajax-loader', alt: 'loading', class: 'img-responsive center-block' %>
          </div>
        <% end %>
        <% if datafile.reading %>
          <div hidden id="show-<%= datafile.id %>" class="text-right">
            <p><%= link_to "delete", datafile, method: :delete %></p>
            <p><%= link_to "Show", plots_path %></p>
          </div>
        <% else %>
          <div id="show-<%= datafile.id %>" class="text-right">
            <p><%= link_to "delete", datafile, method: :delete %></p>
            <p><%= link_to "Show", plots_path %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
$(function() {
  setInterval(function() {
    $.getJSON(
      '/api/datafiles',
      null,
      function(json, status) {
        var body = json['body'];
        $.each(body, function(i, id) {
          $('#reading-'+id).remove()
          $('reading-'+id).remove()
          $('#show-'+id).removeAttr('hidden')
        });
      }
    );
  }, 3000);
});
</script>
